* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(66, 66, 211);
    padding: 50px;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
}

.weather-today {
    border: 1px solid black;
    padding: 8px;
}

.side-weather {
    flex-grow: 1;
    margin: 16px;
    visibility: hidden;
}

.uvi-color {
    padding: 5px;
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
}

.five-day {
    margin-top: 15px;
}

.forecast-card {
    background-color: #6ec9d8;
    width: fit-content;
    padding: 8px;
    display: inline-block;
    margin-bottom: 5px;
}

.previous-location {
    margin: 4px 0;
    width: 100%;
}
